body{
    background-color: rgb(176, 230, 192);
    height:800px;
    width:800px;
    border: royalblue;
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 87, 112);
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }